@import url('https://fonts.googleapis.com/css?family=Meddon|Roboto');

.home {
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    box-sizing: border-box;   
}
.image {
    height: 100vh;
    width: 100%;
    background-image: url('./poppy.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    z-index: 0;
    position: fixed;
}
h1 {
    color: #1A1A1A;
    font-family: 'Meddon', cursive;
    font-size: 80px;
    margin: 0;
    text-align: center;
    position: relative;
    z-index: 5;
}
.home p {
    color: #1a1a1a;
    text-align: center;
    margin: 20px;
    font-size: 18px;
    top: 0;
    position: absolute;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
}