@import url('https://fonts.googleapis.com/css?family=Meddon|Roboto');

.home {
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    box-sizing: border-box;   
}
.image {
    height: 100vh;
    width: 100%;
    background-image: url('./poppy.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    z-index: 0;
    position: fixed;
    opacity: .8;
}
.splash {
    /* background: red; */
    width: 100%;
    z-index: 10;
}
h1 {
    /* background: blue; */
    color: #1A1A1A;
    font-family: 'Meddon', cursive;
    font-size: 80px;
    margin: 0;
    text-align: center;
    position: relative;
    z-index: 5;
}
.home p {
    /* background: yellow; */
    color: #353535;
    text-align: center;
    font-size: 28px;
    z-index: 1;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}