@import url('https://fonts.googleapis.com/css?family=Meddon|Roboto');

.nav {
    bottom: 0px;
    position: fixed;
    height: 50px;
    width: 100%;
    background: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.menu {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
/* .menu h1 {
    left: 0;
    bottom: 0;
    position: absolute;
    margin: 0;
    color: white;
    margin-left: 15px;
    margin-bottom: 8px;
    height: 42px;
    font-size: 50px;
    display: flex;
    align-items: center;
} */
.menu img {
    left: 0;
    bottom: 0;
    position: absolute;
    margin: 0;
    margin-left: 10px;
    height: 50px;
}
.menu p {
    margin: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}