@import url('https://fonts.googleapis.com/css?family=Meddon|Roboto');

.App {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background: white;
    color: white;
}
input:focus {
    outline: none;
}
button:focus {
    outline: none;
}