@import url('https://fonts.googleapis.com/css?family=Meddon|Roboto');

.project-class {
    height: 100vh;
    width: 100vw;
    color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
}
.left-side {
    height: 100vh;
    width: 50vw;
    position: fixed;
    left: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-subtitle {
    /* background: purple; */
    text-align: center;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.title {
    /* background: pink; */
    font-family: 'Roboto', sans-serif;
    color: #1a1a1a;
    font-size: 50px;
    margin: 0;
}
.subtitle {
    margin: 0;
    font-size: 20px;
}
.three-pics {
    height: 16vw;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.circle {
    background: #F5524A;
    height: 14vw;
    width: 14vw;
    border-radius: 50%;
    margin-left: 1vw;
    margin-right: 1vw;
    object-fit: cover;
    box-shadow: 1px 1px 5px #353535;
}
.description-tech {
    /* background: gray; */
    width: 50vw;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
    box-sizing: border-box;
}
.description {
    margin: 0;
}
.tech {
    margin: 0;
    text-align: center;
}
.links {
    /* background: pink; */
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
a {
    color: black;
}
.link {
    margin: 0;
    margin-top: 20px;
}
.project-class button {
    background: #1a1a1a;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    margin: 1vw;
    box-shadow: 1px 1px 5px #353535;  
}
.project-class button:hover {
    cursor: pointer;
}
.right-side {
    background: #1a1a1a;
    height: 100vh;
    width: 50vw;
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.right-side-img {
    opacity: .9;
    height: 100vh;
    width: 100%;
    position: relative;
    right: 0;
    object-fit: cover;
    /* position: absolute; */
}
